.topdeals-menu-body {
    padding-bottom: 17px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;

}

.topdeals-menu-slider {
    display: flex;
    gap: 50px;
    transition: ease 1500ms;
    width: 100%;
    height: 100%;
}
